# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TennisGame_20210224.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\code\Github\Repos\TennisGame_20210224\.idea\.idea.TennisGame_20210224\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
